<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.olympia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olympia">
        <activity

            android:name=".ViewHistory.mealHistory"
            android:exported="true"
            android:parentActivityName=".ViewHistory.ViewHistoryActivity"/>
        <activity
            android:name=".ViewHistory.WorkoutPlanHistory.WorkoutPlanHistoryExerciseList"
            android:exported="false"
            android:parentActivityName=".ViewHistory.WorkoutPlanHistory.WorkoutPlanHistoryExerciseList"/>
        <activity
            android:name=".ViewHistory.WorkoutPlanHistory.WorkoutPlanList"
            android:exported="false"
            android:parentActivityName=".Menus.MainMenu"/>

        <activity
            android:name=".ViewHistory.ViewHistoryActivity"
            android:exported="false"
            android:parentActivityName=".Menus.MainMenu" />
        <activity
            android:name=".Exercises.LogExercise.LogExercises"
            android:exported="false"
            android:parentActivityName=".Exercises.PlanMenu" />
        <activity
            android:name=".Exercises.NewPlan"

            android:exported="false"
            android:parentActivityName=".Exercises.PlanMenu" />
        <activity
            android:name=".Exercises.PlanMenu"
            android:exported="true"
            android:parentActivityName=".Menus.MainMenu" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.ShoulderPress_tutorial"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.Select_tutorial" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.Deadlift_tutorial"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.Select_tutorial" />
        <activity
            android:name=".Login.RegistrationTest"
            android:exported="true" />
        <activity
            android:name=".Login.RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.Squat_tutorial"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.Select_tutorial" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.Select_tutorial"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.YouTubeLinks"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.Select_tutorial" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.BicepSelectedPlan"
            android:exported="false" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.AbWorkout"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.TricepWorkout"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.BicepWorkout"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.BackWorkout"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.ShoulderWorkout"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.LegWorkout"
            android:exported="false"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.ChestWorkout"
            android:exported="true"
            android:parentActivityName=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect" />
        <activity
            android:name=".WorkoutRoutines.WorkoutRoutines.MainActivityWorkoutsSelect"
            android:exported="false"
            android:parentActivityName=".Menus.MainMenu" />
        <activity
            android:name=".Menus.MainMenu"
            android:exported="true" />
        <activity
            android:name=".CalorieCounter.CalorieMenu"
            android:exported="true"
            android:parentActivityName=".Menus.MainMenu" />
        <activity
            android:name=".CalorieCounter.AddFood"
            android:exported="false"
            android:parentActivityName=".CalorieCounter.CalorieCounterSearch" />
        <activity
            android:name=".Exercises.AddExercises"
            android:exported="false"
            android:parentActivityName=".Exercises.NewPlan"/>
        <activity
            android:name=".Exercises.PullExercises"
            android:exported="false" />
        <activity
            android:name=".CalorieCounter.CalorieCounterSearch"
            android:exported="true"
            android:parentActivityName=".CalorieCounter.CalorieMenu" />
        <activity
            android:name=".Login.LoginPage"
            android:exported="true" />
        <activity
            android:name=".Menus.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>