<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.olympia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olympia">
        <activity
            android:name="WorkoutRoutines.AbWorkout"
            android:exported="false" />
        <activity
            android:name="WorkoutRoutines.TricepWorkout"
            android:exported="false" />
        <activity
            android:name="WorkoutRoutines.BicepWorkout"
            android:exported="false" />
        <activity
            android:name="WorkoutRoutines.BackWorkout"
            android:exported="false" />
        <activity
            android:name="WorkoutRoutines.ShoulderWorkout"
            android:exported="false" />
        <activity
            android:name="WorkoutRoutines.LegWorkout"
            android:exported="false" />
        <activity
            android:name="WorkoutRoutines.ChestWorkout"
            android:exported="true" />
        <activity
            android:name="WorkoutRoutines.MainActivityWorkoutsSelect"
            android:exported="true" />
        <activity
            android:name=".CalorieCounter.FoodList"
            android:exported="false" />
        <activity
            android:name=".CalorieCounter.AddFood"
            android:exported="false" />
        <activity
            android:name=".Exercises.AddExercises"
            android:exported="false" />
        <activity
            android:name=".Exercises.PullExercises"
            android:exported="false" />
        <activity
            android:name=".Exercises.NewPlan"
            android:exported="false" />
        <activity
            android:name=".Exercises.ChoosePlan"
            android:exported="false" />
        <activity
            android:name=".Exercises.Exercises"
            android:exported="true" />
        <activity
            android:name=".CalorieCounter.CalorieCounterSearch"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>